@import "mixin";
@import "compass/css3";

html, body{
  @include square(100%);
}

.bar{
  @include background-image(linear-gradient(top, white, darken(#ddd, 5%))); 
}

.seat-hide{
  @media (orientation: portrait){
    display: none;
  }
  @media (orientation: landscape){
    display: inline-block;
  }
}

h1.title{
  color: DarkBlue;
  font-weight: bold;
}

#drawerContent{
  display:none;
}

.list{
  width:50%;
  margin-top: 10px;
  margin-bottom:10px;
  @include center;
}

.table-view, .table-view-cell{
  background-color:transparent;
  background-image:none;
  color:white;
}

.table-view-cell{
  padding-right: 20px;
}

.snap-drawer,{
  width:160px;
  @include linear-gradient(DarkSeaGreen, DarkGreen)
}

.snap-content{
  @include single-box-shadow(0, 3px, 7px, 2px, gray);
}

#studentsList{
  margin: 10px 0 10px;
  &>.btn{
    width: percentage(0.9/4);
    margin: 5px 0 5px;
    margin-left: percentage(0.1/5);
  }
  @media (orientation: landscape){
    &>.btn{
      width: percentage(0.9/8);
      margin: 5px 0 5px;
      margin-left: percentage(0.1/9);
      font-size: 8px;
      &:nth-child(2n){
        margin-left: percentage(0.1/9/4);
        margin-right: percentage(0.1/9);
      }
      &:nth-child(8n){
        margin-right:0;
      }
    }
  }
}

#listCtrl{
  @media (orientation: portrait) { 
    &{
      display: block;
    }
  }
  @media (orientation: landscape) { 
    &{
      display: none;
    }
  }
}

#desk{
  @media (orientation: portrait) { 
    &{
      display: none;
    }
  }
  @media (orientation: landscape) { 
    &{
      display: block;
      margin:0 auto;
      width: 40%;
    }
  }
}

.count-info{
  font-size: 9px;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  $color-array: #5cb85c #428bca #d9534f;
  @each $color in $color-array {
    span:nth-child(#{index($color-array, $color)}){
      color: $color;
    }
  }
}

.schedule{
  padding:20px 10px;
  text-align:center;
  span{
    font-size:12px;
    color: #bbb;
  }
}

//
// Tables
// --------------------------------------------------
$table-bg: white;
$body-bg: white;
$line-height-computed: 20px;
$table-cell-padding: 5px;
$line-height-base: 20px;
$table-border-color: #ddd;


table {
  max-width: 100%;
  background-color: $table-bg;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}

.table-schedule{
  caption {
    padding: 0 5px;
    text-align:right;
    font-size:11px;
    color: darken(DodgerBlue, 1%);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  thead td{
    color:DarkSlateGray;
  }
  tbody > tr:nth-child(4) > td{
    border-bottom-width:2px;
  }
  tbody td{
    font-size:14px;
    color: #aaa;
    &:first-child{
      color:Green;
    }
  }
  td.cur-day{
    background-color: lighten(#eee, 2%);
  }
}

.over-time{
  font-size: 12px;
  text-align:left;
  span{
    text-decoration:underline;
    color: red;
    font-weight: bold;
  }
}

.web-mask{
  position: absolute;
  @include square(100%);
  background-color: rgba(0,0,0,.8);
  z-index: 1000;
}
#wxMask{
  background:rgba(0,0,0,.8) url(../img/icon-safari.png) no-repeat 95% 5%;
  background-size:25%;
}

#tipBar{
  font-size: 12px;
  line-height:18px;
  border-radius:0 0 5px 5px;
  margin: -20px -10px 10px 0;
  @include box-shadow();
  span{
    font-size: 20px;
    line-height:18px;
    color:white;
  }
}

#noticeList{
  margin:10px;
  dt{
    padding-top: 5px;
    margin-top: 5px;
    font-style: bold;
    color: blue;
    &:not(:first-child){
      border-top:1px dashed #ccc;
    }
  }
  dd{
    margin-left: 10%;
    padding-bottom:5px;
  }
}